<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создание публикации</title>
    <link rel="icon" href="/images/website/telegraff.png" type="images/png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Верхний колонтитул (Шапка) -->
    <header th:insert="blokcs/header :: header"></header>

    <div class="container mt-5 mb-5">
        <h1>Создание публикацию</h1> <br>
        <form action="/post/create" method="post">
            <input type="text" name="title" placeholder="Введите название публикации" class="form-control"> <br>
            <textarea type="text" name="fullText" placeholder="Введите текст публикации" class="form-control"></textarea> <br>
            <button type="submit" class="btn btn-success"> Добавить статью </button>
        </form>
    </div>

    <!-- Нижний колонтитул -->
    <footer th:insert="blokcs/footer :: footer"></footer>
</body>
</html>