<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment = "footer">
        <footer class="text-muted py-5">
            <div class="container">
                <p class="float-end mb-1">
                    <a href="#">Back to top</a>
                </p>
                <p class="mb-1"> ©Telegraff, все права защищены!</p>
                <p class="mb-0"> Курсовая сделана специально для <a href="https://cchgeu.ru">ВГТУ</a></p>
            </div>
        </footer>
    </div>
</body>
</html>